.recipeImage {
   width: 200px;
   height: auto;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}
.header{
   height: 40px;
   background-color: #56CCF2;
   font-weight: 300;
   text-transform: uppercase;
}
.pageTitle{
   float: left;
   padding: 10px 20px;
}
.navigation{
   display: flex;
   justify-content: flex-end;
}
.navitem{
   padding: 10px 20px;
}
h1.pageTitle, .recipeContainer, .recipeContent, .footer{
   margin: 24px;
}
.recipeBox{
   display: flex;
   justify-content: flex-start;
}
.recipe{
   border: 1px solid lightgrey;
   display: flex;
   margin: 0 15px 15px 0;
}
.recipeContent{
   max-width: 300px;
}
button{
   background-color: #f2c94c;
   width: 100%;
   font-size: 14px;
   text-transform: uppercase;
   border-radius: 8px;
   border: 0;
   height: 30px;
   margin-top: 24px;
}
button a{
   color: black;
   text-decoration: none;
   padding: 0 8px;
   letter-spacing: 1px;
}
.footer{
   background-color: #DDF5FC;
   font-weight: 600;
   margin-bottom: 0;
   padding: .25em 0;
   text-align: center;
}
.footer a{
   text-decoration: none;
   font-weight: 900;
   color: black;
}

@media only screen and (max-width: 600px) {
   button, .pageTitle, .navigation, {
      font-size: large;
   }
   button{
      height: inherit;
      padding: .5em 0;
   }
   button a{
      padding: 2em 0;
   }
   .header{
      display: grid;
      height: inherit;
      grid-template-rows: 1fr 1fr;
   }
   .pageTitle,  .navigation{
      align-items: center;
      text-align: center;
   }
   .pageTitle{
      float: none;
      display: flex;
      justify-content: center;
   }
   .navigation{
      justify-content: space-evenly;
   }
   .recipeBox{
      display: grid;
      grid-template-columns: 1fr;
   }
   .recipe{
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-left: 24px;
   }
   .recipeContent{
      max-width: inherit;
   }
   .recipeImage{
      width: 100%;
      height: auto;
      margin-top: 48px;
      object-fit: fill;
   }
   .icons{
      margin-left: auto;
   }
 }